/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
.rm-navbar-max {
  display: none;
}
html {
  background-color: #414141;
  color: white;
}
.wrap-all {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #575757;
  padding: 1em;
}
a {
  color: #b84ac9;
  text-decoration: none;
}
/*HEADER*/
.site-logo {
  display: none;
}
.region-header {
  background-color: #575757;
}
/*Navbar*/
.region-header-col-2 {
  padding: 1em;
  text-align: center;
}
.region-header-col-2 li {
  display: inline-block;
  border: 1px solid #575757;
  background-color: #b84ac9;
}
li a {
  text-decoration: none;
  color: black;
  background-color: #b84ac9;
}
/*Wrap*/
.outer-wrap-flash {
  overflow: hidden;
  margin: none;
}
/*MAIN*/
.region-sidebar-left li {
  background-color: #b84ac9;
  border: 1px solid #575757;
}
.next {
  float: right;
}
/*FOOTER*/
.footer-column-wrapper {
  margin-top: 3em;
}
.footer-column-wraper {
  width: 31.5%;
  float: left;
  border: 1px solid #999;
  padding: 0.5em;
  margin-bottom: 1em;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #5c2464;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #414141;
  font: 100.01%/1 serif;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**----------------------------------------------------------
 * General layout
 */
.inner-wrap {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #575757;
}
a {
  color: #b84ac9;
  text-decoration: none;
}
li a {
  text-decoration: none;
  color: black;
  background-color: #b84ac9;
}
/**----------------------------------------------------------
*Header layout
*/
.outer-wrap-header {
  height: auto;
}
.site-logo {
  display: none;
}
.region-header-col-2 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.region-header-col-2 li {
  display: inline-block;
  border: 1px solid #575757;
  background-color: #b84ac9;
}
/*Wrap*/
.outer-wrap-flash {
  overflow: hidden;
  margin: none;
}
/**----------------------------------------------------------
/*Main and sidebar
*/
.inner-wrap-main {
  overflow: auto;
}
.region-sidebar-left a {
  color: white;
}
.region-sidebar-left li {
  background-color: #b84ac9;
  border: 1px solid #575757;
  display: block;
  margin-bottom: 0.5em;
}
.region-main {
  width: 65%;
  margin-left: 10%;
  float: left;
}
.region-main.has-sidebar {
  margin: 5%;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 45%;
}
.region-sidebar-left {
  width: 15%;
  float: left;
  padding-left: 1em;
}
.region-sidebar-left.has-sidebar-right {
  width: 20%;
}
.region-sidebar-right {
  width: 22%;
  float: left;
  padding-right: 1em;
}
.region-sidebar-right.has-sidebar-left {
  width: 20%;
}
.next {
  float: right;
}
/**----------------------------------------------------------
* Footer layout
*/
.footer-column-wrapper {
  margin-top: 3em;
}
.footer-column {
  width: 31.5%;
  float: left;
  border: 1px solid #999;
  padding: 0.5em;
  margin-bottom: 1em;
}
.outer-wrap-footer {
  background-color: #5c2464;
}
.site-footer {
  padding-bottom: 1em;
  padding-left: 1em;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .rm-navbar-max {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .footer-column {
    width: 100%;
    border: 1px solid #999;
    padding: 0.5em;
  }
  .region-header-col-2 {
    width: auto;
  }
}
@media screen and (max-width: 840px) {
  .region-sidebar-left {
    width: 100%;
  }
  .region-sidebar-left li {
    display: inline-block;
    border: 1px solid #575757;
    background-color: #b84ac9;
    padding: 0.5em;
    margin: 0.2em;
  }
}
@media screen and (max-width: 700px) {
  .rm-desktop {
    display: none;
  }
  .rm-navbar-max {
    display: inline;
  }
  .region-main.has-sidebar-left.has-sidebar-right {
    width: 30%;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
